<script id="datatableTmpl" type="text/x-jquery-tmpl">
	<table id="${key}Datatable" class="table table-striped">
		<tr>
		{{each titles}}
			<th>${$value}</th>
		{{/each}}
		</tr>
	</table>
	<ul class="pagination">
		<li><span>共${records.totalCount}条记录</span></li>
		<li><a href='#'>首页</a></li>
		<li><a href='#'>上一页</a></li>
		<li><a href='#'>1</a></li>
		<li><a href='#'>下一页</a></li>
		<li><a href='#'>尾页</a></li>
	</ul>
</script>