#macro(pageTemplate $key $title)
	<script type="text/javascript">
		require(["custom/builder"], function(builder) {
			builder.build("$key", "$title");
		});
	</script>
	<div id="${key}Datatable"></div>
	<div id="${key}Dialog"></div>
#end