#macro(pageTemplate $key $title)
	<script type="text/javascript">
		require(["custom/builder"], function(builder) {
			builder.build("$key", "$title");
		});
	</script>
	<div type='datatable' key='$key'></div>
	<div type='dialog' key='$key'></div>
#end