<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>heroic</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="${rc.contextPath}/style/main.css" type="text/css" rel="stylesheet" media="screen" />
		<script type="text/javascript" src="${rc.contextPath}/script/require.js" data-main="${rc.contextPath}/script/config"></script>
	</head>
	<body>
		<div class="container">
			<div type="navbar"></div>
			<div class="panel-group" style="float:left; width:20%">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-toggle="collapse">功能</a>
						</h4>
					</div>
					<div class="panel-collapse collapse in">
						<div type="toolbar" class="panel-body"></div>
					</div>
				</div>
			</div>
			<div style="padding-left:20px; float:left; width:80%">$screen_content</div>
		</div>
	</body>
</html>