<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>heroic</title>
		
		<script type="text/javascript" src="${rc.contextPath}/script/jquery.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/script/jquery.validate.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/script/bootstrap.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/script/base.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/script/heroic/util.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/script/heroic/navbar.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/script/heroic/dialog.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/script/heroic/datatable.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/script/heroic/selector.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/script/content/index.js"></script>
		
		<link href="${rc.contextPath}/style/bootstrap.css" type="text/css" rel="stylesheet" media="screen"/>
		<link href="${rc.contextPath}/style/flat.ui.css" type="text/css" rel="stylesheet" media="screen"/>
		<link href="${rc.contextPath}/style/heroic.css" type="text/css" rel="stylesheet" media="screen"/>
	</head>
	<body>
		<div class="container">
            <div id="navbar"></div>
			<div class="panel-group master-left">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-toggle="collapse">功能</a>
						</h4>
					</div>
					<div class="panel-collapse collapse in">
						<div class="panel-body" id="panel"></div>
					</div>
				</div>
			</div>
			<div class="master-content">$screen_content</div>
		</div>
	</body>
</html>